.start {
  background-image: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-secondary-dark
  );
  padding: 5rem;
  margin: 5vh 20vw 0;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.301);
}
