$color-primary: #45b649;
$color-primary-light: #dce35b;

$color-secondary: #d9fff5;
$color-secondary-light: #f1fffb;
$color-secondary-dark: #c6e8df;

$color-button: #68b0ab;
$color-button-dark: #39605e;
$color-button-light: #91c5c1;

$color-black: #000;

$color-blue: #1e1159;
$color-blue-light: #62559d;
